body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.page {
  /* margin-top: 20px; */
  width: 600px;
  /* height: 750px; */
  display: grid;
  grid-template-columns: 30% 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 0.5rem; */
}
.left {
  background-color: rgb(247, 20, 88);
  /* background: rgb(255,0,102);
background: linear-gradient(0deg, rgba(255,0,102,1) 0%, rgba(198,2,81,1) 100%); */
  color: white;
  padding: 40px 20px 40px 20px;
  /* height: 100%; */
  /* border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; */
  /* font-family: "Open Sans", sans-serif; */
}

.contacts-head {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 80%;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.contacts-body {
  display: grid;
  grid-template-columns: 1rem auto;
  font-size: 65%;
  margin-top: 10px;
}
.myicons {
  width: 65%;
}
.skills-head {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 80%;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.skills-body {
  font-size: 65%;
  margin-top: 10px;
}
.image {
  display: flex;
  justify-content: center;
}
.image img {
  width: 70%;
  object-position: center center;
  border-radius: 50%;
}
.right {
  background-color: white;
  padding: 40px 40px 40px 20px;
  /* height: 100%; */
  /* border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; */
}
.name {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-size: 220%;
  margin-top: 15px;
  font-weight: 700;
  color: rgb(247, 20, 88);
}
.line {
  margin-top: 15px;
  height: 2px;
  width: 100px;
  background-color: black;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 15px;
  font-size: 100%;
  color: rgb(221, 43, 97);
}
.careerobj {
  /* font-family: "Montserrat", sans-serif; */
  margin-top: 30px;
}
.careerobj-head {
  font-family: "Montserrat", sans-serif;
  color: rgb(221, 43, 97);
  font-size: 100%;
}
.careerobj-body {
  margin-top: 10px;
  font-size: 75%;
}
.education {
  /* font-family: "Montserrat", sans-serif; */
  margin-top: 30px;
}
.education-head {
  font-family: "Montserrat", sans-serif;
  color: rgb(221, 43, 97);
  font-size: 100%;
}
.education-body {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 75%;
  width: 95%;
}
.education-body p {
  margin: 5px 0 0 0;
}
.education-tablerow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.details {
  width: 70%;
}
.date {
  max-width: 30%;
}
.projects {
  /* font-family: "Montserrat", sans-serif; */
  margin-top: 30px;
}
.projects-head {
  font-family: "Montserrat", sans-serif;
  color: rgb(221, 43, 97);
  font-size: 100%;
}
.projects-body {
  margin-left: 13px;
  margin-top: 10px;
  font-size: 75%;
}
/* .projects-body p {
  margin: 0;
  margin-top: 5px;
}
.projects-body li {
  margin: 0;
  margin-top: 10px;
} */
.hobbies {
  /* font-family: "Montserrat", sans-serif; */
  margin-top: 30px;
}
.hobbies-head {
  font-family: "Montserrat", sans-serif;
  color: rgb(221, 43, 97);
  font-size: 100%;
}
.hobbies-body {
  margin-left: 13px;
  margin-top: 10px;
  font-size: 75%;
}
.hobbies-body p {
  margin: 5px 0 0 0;
}
@media screen and (max-width: 1000px) {
  .left {
    padding: 20px 10px 20px 10px;
  }
  .myicons {
    width: 8px;
  }
  .contacts-head {
    margin-top: 10px;
    font-size: 8px;
  }
  .skills-head {
    margin-top: 10px;
    font-size: 8px;
  }
  .contacts-body {
    font-size: 6.5px;
    margin-top: 5px;
  }
  .skills-body {
    font-size: 6.5px;
    margin-top: 5px;
  }
  .right {
    padding: 20px 20px 20px 10px;
  }
  .name {
    font-size: 1.3rem;
  }
  .line {
    height: 1px;
  }
  .title {
    font-size: 0.8rem;
  }
  .careerobj-head {
    font-size: 10px;
  }
  .education-head {
    font-size: 10px;
  }
  .projects-head {
    font-size: 10px;
  }
  .hobbies-head {
    font-size: 10px;
  }
  .careerobj-body {
    margin-top: 5px;
    font-size: 7.5px;
  }
  .education-body {
    margin-top: 5px;
    font-size: 7.5px;
  }
  .projects-body {
    margin-top: 5px;
    font-size: 7.5px;
  }
  .hobbies-body {
    margin-top: 5px;
    font-size: 7.5px;
  }
  .careerobj {
    margin-top: 15px;
  }
  .education {
    margin-top: 15px;
  }
  .projects {
    margin-top: 15px;
  }
  .hobbies {
    margin-top: 15px;
  }
}
